body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px;
}

.header, .sub-header {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 300px;
    padding-right: 300px;
}

.header h1 {
    font-size: 24px;
}

.sub-header {
    padding-top: 100px;
    padding-bottom: 100px;
    gap: 32px;
}

.sub-header-text h1 {
    font-size: 48px;
    font-weight: extra-bold;
}

.sub-header-text p {
    font-size: 18px;
}

.sub-header-image {
    padding: 100px 200px 100px 200px;
    background-color: gray
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 8px;
    border-radius: 8px;
}

ul {
    display: flex;
    
    gap: 16px;
    list-style: none;
    font-size: 18px;
    color: #E5E7EB;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

.random-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px;
    gap: 32px;
}

.random-info-header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.random-info-content {
    display: flex;
    justify-content: space-between;
}

.content {
    width: 150px;
    text-align: center;
    padding: 32px;
}

img {
    border: solid blue;
    border-radius: 8px;
    height: 150px;
    width: 150px;
}

.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    color: #1F2937;
    padding: 64px;
}

.quote-text {
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    color: #1F2937;
}

.quote-author {
    background-color: #E5E7EB;
    font-size: 24px;
    text-align: right;
}