body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px;
}

.header, .sub-header {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    padding: 16px;
}

.header h1 {
    font-size: 24px;
}

ul {
    display: flex;
    margin-left: auto;
    gap: 16px;
    list-style: none;
    font-size: 18px;
    color: #E5E7EB;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}